@model MVC_Projekt.Models.Kontakt

<h2>Dodaj Kontakt</h2>

<form asp-action="DodajKontakt" method="post">
    <div class="form-group">
        <label asp-for="Imie"></label>
        <input asp-for="Imie" class="form-control" />
        <span asp-validation-for="Imie" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Nazwisko"></label>
        <input asp-for="Nazwisko" class="form-control" />
        <span asp-validation-for="Nazwisko" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NumerTelefonu"></label>
        <input asp-for="NumerTelefonu" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="AdresEmail"></label>
        <input asp-for="AdresEmail" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="InneInformacje"></label>
        <input asp-for="InneInformacje" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="AdresId">Adres:</label>
        <select asp-for="AdresId" class="form-control" asp-items="ViewBag.Adresy"></select>
    </div>

    <div class="form-group">
        <label asp-for="GrupaId">Grupa:</label>
        <select asp-for="GrupaId" class="form-control" asp-items="ViewBag.Grupy"></select>
    </div>

    <div class="form-group">
        <input type="submit" value="Dodaj Kontakt" class="btn btn-primary" />
    </div>
</form>